<div class="user_index_container">
<% if flash[:success]%>
  <h2 class="user_index_container_h2"><%= flash[:success]%></h2>
<%end%>
<% if can? :read, Recipe%>
  <%= render @recipes %>
<%end%>
<%if can? :create, Recipe%>
  <%= link_to "new recipe", new_user_recipe_path(current_user)%>
<%end%>
</div>