/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user_index_container_inner_container {
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 2px solid #111;
  padding: 0.5rem;
}

.user_index_container_inner_container_first_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 0.2;
}

.user_index_container_inner_container_second_div {
  flex: 0.8;
  padding: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider2::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #2196f3;
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider2 {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

input:checked + .slider2::before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider2.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.slider2.round::before {
  border-radius: 50%;
}

.recipe_show_container_div_h2 {
  text-align: center;
  text-transform: capitalize;
}

.recipe_show_container_div_first_div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.recipe_show_container_div_second_div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.recipe_show_container_div_third_div_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.recipe_show_container_div_third_div_button1,
.recipe_show_container_div_third_div_button2 {
  padding: 0.5rem;
}

.recipe_show_container_div_new_line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #111;
  margin-top: 0.5rem;
}

.recipe_show_container_div_table {
  border: 1px solid #111;
  border-collapse: collapse;
  width: 80%;
  margin: 2rem auto 0.5rem auto;
}

.recipe_show_container_div_table_tr:nth-of-type(even) {
  text-align: center;
  background-color: #eeeeef;
}

.recipe_show_container_div_table_tr > th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.public_recipe_container_h2 {
  text-align: center;
}

.public_recipe_container_inner_div {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #111;
  gap: 4rem;
  width: 80%;
  margin: 2rem auto 0.5rem auto;
}

.public_recipe_container_inner_div_div1 {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public_recipe_container_inner_div_div2 {
  flex: 0.8;
  text-align: center;
}

.user_index_container_h2 {
  background-color: aqua;
  padding: 1rem;
  border-radius: 8px;
  width: 50%;
  height: 24px;
  visibility: visible;
  animation: news 5s linear;
}

@keyframes news {
  0% {
    opacity: 1;
  }
  100% { opacity: 0; }
}

.user_index_again_container_h2 {
  margin: 0.5rem auto 0.5rem auto;
  border: 1px solid #111;
  padding: 1rem;
}
